# Import Library

In [339]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
pd.set_option("display.max_columns", None)

---

# Thu thập dữ liệu

# Khám phá dữ liệu

## Đọc dữ liệu từ file .csv

In [342]:
mkt_df = pd.read_csv("../Data/marketing_campaign.csv", sep='\t')

Hiển thị vài dòng đầu:

In [343]:
mkt_df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,3,11,0

## Dữ liệu có bao nhiêu dòng và bao nhiêu cột?

In [346]:
mkt_df_nrows, mkt_df_ncols = mkt_df.shape

print("Marketing dataset have {} rows and {} columns".format(mkt_df_nrows, mkt_df_ncols))

Marketing dataset have 2240 rows and 29 columns

In [ ]:
reviews_nrows, reviews_ncols = reviews.shape

print("Reviews Dataset have {} rows and {} columns".format(reviews_nrows, reviews_ncols))

Reviews Dataset have 64295 rows and 5 columns

## Mỗi dòng có ý nghĩa gì? Có vấn đề các dòng có ý nghĩa khác nhau không?

- Ở tập dữ liệu `googleplaystore.csv`:
    - Mỗi 1 dòng là 1 reviews về 1 phần mềm nào đó (các phần mêm có thể trùng nhau).
- Ở tập dữ liệu `googleplaystore_user_reviews.csv`
    - Mỗi 1 dòng là 1 thông tin về 1 phần mềm hiện đang có trong Google Play Store.

## Dữ liệu có các dòng bị lặp không?

In [ ]:
num_duplicated_apps = len(apps) - len(apps.drop_duplicates())

print("Number of duplicated rows in Apps Dataset: {}".format(num_duplicated_apps))

Number of duplicated rows in Apps Dataset: 483

$\to$ tiến hành xóa các dòng bị trùng lắp.

In [ ]:
apps.drop_duplicates(keep="first", inplace=True)

`shape` của tập dữ liệu sau khi xóa các dòng trùng lắp

In [ ]:
apps.shape

(10358, 13)

In [ ]:
num_duplicated_reviews = len(reviews) - len(reviews.drop_duplicates())

print("Number of duplicated rows in Reviews Dataset: {}".format(num_duplicated_reviews))

Number of duplicated rows in Reviews Dataset: 33616

$\to$ tiến hành xóa các dòng bị trùng lắp.

In [ ]:
reviews.drop_duplicates(inplace=True)

`shape` của tập dữ liệu sau khi xóa các dòng trùng lắp

In [ ]:
reviews.shape

(30679, 5)

## Mỗi cột có ý nghĩa gì?

**Tập dữ liệu `googleplaystore.csv`**
> Details of the applications on Google Play. There are 13 features thstrong strong texttextat describe a given app.. Expilo. Ed

|tên cột|ý nghĩa|
|-|-|
|App|Application name|
|Category|Category the app belongs to|
|Rating|Overall user rating of the app (as when scraped)|
|Reviews|Number of user reviews for the app (as when scraped)|
|Size|Size of the app (as when scraped)|
|Installs|Number of user downloads/installs for the app (as when scraped)|
|Type|Paid or Free|
|Price|Price of the app (as when scraped)|
|Content Rating|Age group the app is targeted at - Children / Mature 21+ / Adult|
|Genres|An app can belong to multiple genres (apart from its main category). For eg, a musical family game will belong to|
|Last Updated|Date when the app was last updated on Play Store (as when scraped)|
|Current Ver|Current version of the app available on Play Store (as when scraped)|
|Android Ver|Min required Android version (as when scraped)|

**Tập dữ liệu `googleplaystore_user_reviews.csv`**
> This file contains the first 'most relevant' 100 reviews for each app. Each review text/comment has been pre-processed and attributed with 3 new features - Sentiment, Sentiment Polarity and Sentiment Subjectivity.

|tên cột|ý nghĩa|
|-|-|
|App|Application name|
|Translated_Review|User review (Preprocessed and translated to English)|
|Sentiment|Positive/Negative/Neutral (Preprocessed)|
|Sentiment_Polarity|Sentiment polarity score|
|Sentiment_Subjectivity|Sentiment subjectivity score|

## Mỗi cột hiện đang có kiểu dữ liệu gì? Có cột nào có kiểu dữ liệu chưa phù hợp để có thể xử lý tiếp không?

In [ ]:
apps.dtypes

App                object
Category           object
Rating            float64
Reviews            object
Size               object
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

In [ ]:
reviews.dtypes

App                        object
Translated_Review          object
Sentiment                  object
Sentiment_Polarity        float64
Sentiment_Subjectivity    float64
dtype: object

Ta thấy cột `Size`, `Install`, `Price`, `Reviews` của tập dữ liệu `googleplaystore.csv` nên có kiểu dữ liệu số.

In [ ]:
apps["Size"].unique()

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '2.7M', '5.5M', '17M', '39M',
       '31M', '4.2M', '7.0M', '23M', '6.0M', '6.1M', '4.6M', '9.2M',
       '5.2M', '11M', '24M', 'Varies with device', '9.4M', '15M', '10M',
       '1.2M', '26M', '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k',
       '3.6M', '5.7M', '8.6M', '2.4M', '27M', '2.5M', '16M', '3.4M',
       '8.9M', '3.9M', '2.9M', '38M', '32M', '5.4M', '18M', '1.1M',
       '2.2M', '4.5M', '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M',
       '7.1M', '3.7M', '22M', '7.4M', '6.4M', '3.2M', '8.2M', '9.9M',
       '4.9M', '9.5M', '5.0M', '5.9M', '13M', '73M', '6.8M', '3.5M',
       '4.0M', '2.3M', '7.2M', '2.1M', '42M', '7.3M', '9.1M', '55M',
       '23k', '6.5M', '1.5M', '7.5M', '51M', '41M', '48M', '8.5M', '46M',
       '8.3M', '4.3M', '4.7M', '3.3M', '40M', '7.8M', '8.8M', '6.6M',
       '5.1M', '61M', '66M', '79k', '8.4M', '118k', '44M', '695k', '1.6M',
       '6.2M', '18k', '53M', '1.4M', '3.0M', '5.8M', '3.8M', '9.6M',
       '45M', '63M', '49M', '77M', '4.4M', '4.8M', '70M', '6.9M', '9.3M',
       '10.0M', '8.1M', '36M', '84M', '97M', '2.0M', '1.9M', '1.8M',
       '5.3M', '47M', '556k', '526k', '76M', '7.6M', '59M', '9.7M', '78M',
       '72M', '43M', '7.7M', '6.3M', '334k', '34M', '93M', '65M', '79M',
       '100M', '58M', '50M', '68M', '64M', '67M', '60M', '94M', '232k',
       '99M', '624k', '95M', '8.5k', '41k', '292k', '11k', '80M', '1.7M',
       '74M', '62M', '69M', '75M', '98M', '85M', '82M', '96M', '87M',
       '71M', '86M', '91M', '81M', '92M', '83M', '88M', '704k', '862k',
       '899k', '378k', '266k', '375k', '1.3M', '975k', '980k', '4.1M',
       '89M', '696k', '544k', '525k', '920k', '779k', '853k', '720k',
       '713k', '772k', '318k', '58k', '241k', '196k', '857k', '51k',
       '953k', '865k', '251k', '930k', '540k', '313k', '746k', '203k',
       '26k', '314k', '239k', '371k', '220k', '730k', '756k', '91k',
       '293k', '17k', '74k', '14k', '317k', '78k', '924k', '902k', '818k',
       '81k', '939k', '169k', '45k', '475k', '965k', '90M', '545k', '61k',
       '283k', '655k', '714k', '93k', '872k', '121k', '322k', '1.0M',
       '976k', '172k', '238k', '549k', '206k', '954k', '444k', '717k',
       '210k', '609k', '308k', '705k', '306k', '904k', '473k', '175k',
       '350k', '383k', '454k', '421k', '70k', '812k', '442k', '842k',
       '417k', '412k', '459k', '478k', '335k', '782k', '721k', '430k',
       '429k', '192k', '200k', '460k', '728k', '496k', '816k', '414k',
       '506k', '887k', '613k', '243k', '569k', '778k', '683k', '592k',
       '319k', '186k', '840k', '647k', '191k', '373k', '437k', '598k',
       '716k', '585k', '982k', '222k', '219k', '55k', '948k', '323k',
       '691k', '511k', '951k', '963k', '25k', '554k', '351k', '27k',
       '82k', '208k', '913k', '514k', '551k', '29k', '103k', '898k',
       '743k', '116k', '153k', '209k', '353k', '499k', '173k', '597k',
       '809k', '122k', '411k', '400k', '801k', '787k', '237k', '50k',
       '643k', '986k', '97k', '516k', '837k', '780k', '961k', '269k',
       '20k', '498k', '600k', '749k', '642k', '881k', '72k', '656k',
       '601k', '221k', '228k', '108k', '940k', '176k', '33k', '663k',
       '34k', '942k', '259k', '164k', '458k', '245k', '629k', '28k',
       '288k', '775k', '785k', '636k', '916k', '994k', '309k', '485k',
       '914k', '903k', '608k', '500k', '54k', '562k', '847k', '957k',
       '688k', '811k', '270k', '48k', '329k', '523k', '921k', '874k',
       '981k', '784k', '280k', '24k', '518k', '754k', '892k', '154k',
       '860k', '364k', '387k', '626k', '161k', '879k', '39k', '970k',
       '170k', '141k', '160k', '144k', '143k', '190k', '376k', '193k',
       '246k', '73k', '658k', '992k', '253k', '420k', '404k', '1,000+',
       '470k', '226k', '240k', '89k', '234k', '257k', '861k', '467k',
       '157k', '44k', '676k', '67k', '552k', '885k', '1020k', '582k',
       '619k'], dtype=object)

In [ ]:
apps.Installs

0            10,000+
1           500,000+
2         5,000,000+
3        50,000,000+
4           100,000+
            ...
10836         5,000+
10837           100+
10838         1,000+
10839         1,000+
10840    10,000,000+
Name: Installs, Length: 10358, dtype: object

In [ ]:
apps.Price.unique()

array(['0', '$4.99', '$3.99', '$6.99', '$1.49', '$2.99', '$7.99', '$5.99',
       '$3.49', '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49',
       '$10.00', '$24.99', '$11.99', '$79.99', '$16.99', '$14.99',
       '$1.00', '$29.99', '$12.99', '$2.49', '$10.99', '$1.50', '$19.99',
       '$15.99', '$33.99', '$74.99', '$39.99', '$3.95', '$4.49', '$1.70',
       '$8.99', '$2.00', '$3.88', '$25.99', '$399.99', '$17.99',
       '$400.00', '$3.02', '$1.76', '$4.84', '$4.77', '$1.61', '$2.50',
       '$1.59', '$6.49', '$1.29', '$5.00', '$13.99', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$19.90', '$8.49', '$1.75',
       '$14.00', '$4.85', '$46.99', '$109.99', '$154.99', '$3.08',
       '$2.59', '$4.80', '$1.96', '$19.40', '$3.90', '$4.59', '$15.46',
       '$3.04', '$4.29', '$2.60', '$3.28', '$4.60', '$28.99', '$2.95',
       '$2.90', '$1.97', '$200.00', '$89.99', '$2.56', '$30.99', '$3.61',
       '$394.99', '$1.26', 'Everyone', '$1.20', '$1.04'], dtype=object)

In [ ]:
apps.Reviews.sample(10)

3673        400
8251       2557
5913         87
9416        146
3306      33509
7485          0
7077     516917
10244       670
8728          3
1043          5
Name: Reviews, dtype: object

---

# Tiền xử lý

Chuyển cột `size` về dạng số.
* nếu là `K` thì chia cho 1000
* nếu là `M` thì giữ nguyên
* nếu là `Varies with device` thì gán là 0.

Tự định nghĩa hàm để chuyển đổi `dtype` cho cột `size`:

In [ ]:
def conv2Num4Size(row):
    new_row = None
    if 'M' in row:
        new_row = float(row.replace('M', ''))
    elif 'K' in row:
        new_row = float(row.replace('K', '')/1000)
    else:
        return 0
    return new_row

In [ ]:
apps["Size"] = apps["Size"].apply(conv2Num4Size)

Xem lại kiểu dữ liệu của cột `Size`

In [ ]:
apps.Size.dtype

dtype('float64')

Chuyển cột `Installs` về dạng số
* xóa dấu `+` và dấu `,` sau đó chuyển về kiểu `int`

In [ ]:
apps["Installs"] = apps["Installs"].apply(lambda x: int(x.replace('+','').replace(',',''))\
                                         if x != "Free" else 0)

Xem lại kiểu dữ liệu của cột `Installs`

In [ ]:
apps.Installs.dtype

dtype('int64')

Chuyển cột `Price` về dạng số
* Xóa dấu `$` và chuyển về kiểu `float`
* Nếu bị thiếu thì điền vào là `0`.
* Nếu là `Everyone` thì điền vào là `0`.

Tự định nghĩa hàm để chuyển kiểu dữ liệu cho cột `Price`:

In [ ]:
def conv2Num4Price(row):
    if row == "Everyone":
        return 0
    else:
        new_row = row.replace(",",'').replace('$','')
        return float(new_row)

In [ ]:
apps["Price"] = apps["Price"].apply(conv2Num4Price)

Xem lại kiểu dữ liệu của cột `Price`:

In [ ]:
apps["Price"].dtype

dtype('float64')

Cuối cùng là chuyển cột `Reviews` về dạng số:

In [ ]:
apps["Reviews"] = apps["Reviews"].apply(lambda x: int(float(x.replace("M", ''))*1000) if 'M' in x else int(x))

Xem lại kiểu dữ liệu của cột `Reviews`

In [ ]:
apps.Reviews.dtype

dtype('int64')

---

# Quay lại bước khám phá dữ liệu

## Với mỗi cột có kiểu dữ liệu dạng số (numerical), các giá trị được phân bố như thế nào?

In [ ]:
apps.describe()

            Rating       Reviews          Size      Installs         Price
count  8893.000000  1.035800e+04  10358.000000  1.035800e+04  10358.000000
mean      4.189542  4.058657e+05     18.135847  1.415639e+07      1.030701
std       0.545452  2.696651e+06     22.149628  8.023580e+07     16.277843
min       1.000000  0.000000e+00      0.000000  0.000000e+00      0.000000
25%       4.000000  3.200000e+01      2.700000  1.000000e+03      0.000000
50%       4.300000  1.683000e+03      9.100000  1.000000e+05      0.000000
75%       4.500000  4.640425e+04     26.000000  1.000000e+06      0.000000
max      19.000000  7.815831e+07    100.000000  1.000000e+09    400.000000

ở cột `Rating` có 1 điểm dữ liệu bị sai là `19`, `Rating` cao nhất chỉ là `5` thôi!!!
$\to$ xóa dòng chứa giá trị này.

# Tiền xử lý

Xóa dòng chứa `Rating = 19`

In [ ]:
apps.drop(apps[apps.Rating == 19].index, axis=0, inplace=True)

----

# Quay lại bước khám phá dữ liệu

## Với mỗi cột có kiểu dữ liệu không phải dạng số, các giá trị được phân bố như thế nào?

Ở cột `Genres` 1 App có thể có nhiều `Gernes` kết hợp lại và phân tách nhau bởi dấu `;` nên chúng ta cần phải chuyển nó về thành list các **Gerne**.

In [ ]:
apps.Genres = apps.Genres.str.split(';')

In [ ]:
apps.Genres.head()

0                  [Art & Design]
1    [Art & Design, Pretend Play]
2                  [Art & Design]
3                  [Art & Design]
4      [Art & Design, Creativity]
Name: Genres, dtype: object

**% của mỗi Gerne trong cột `Gernes`**

In [ ]:
(apps.Genres.explode().value_counts() / apps.shape[0]) * 100

Tools                      8.139423
Education                  6.922854
Entertainment              6.063532
Business                   4.122815
Medical                    3.939365
Productivity               3.929709
Personalization            3.746259
Lifestyle                  3.611084
Action                     3.582118
Sports                     3.553152
Communication              3.543497
Finance                    3.475910
Photography                3.109008
Health & Fitness           2.973834
Social                     2.703486
News & Magazines           2.549001
Casual                     2.539345
Travel & Local             2.288307
Arcade                     2.259342
Books & Reference          2.249686
Shopping                   2.162788
Simulation                 2.085546
Dating                     1.892440
Video Players & Editors    1.718644
Puzzle                     1.564160
Maps & Navigation          1.322777
Action & Adventure         1.235879
Food & Drink               1.197258
Role Playing               1.158637
Racing                     1.148981
Strategy                   1.052428
Educational                1.023462
Adventure                  0.878633
Libraries & Demo           0.820701
Auto & Vehicles            0.820701
Weather                    0.791735
Pretend Play               0.772424
House & Home               0.772424
Brain Games                0.666216
Art & Design               0.666216
Events                     0.617940
Board                      0.608284
Comics                     0.579318
Parenting                  0.579318
Beauty                     0.511731
Card                       0.492421
Music & Video              0.395868
Trivia                     0.376557
Casino                     0.376557
Creativity                 0.357246
Word                       0.270349
Music                      0.231727
Music & Audio              0.009655
Name: Genres, dtype: float64

# Đặt câu hỏi